<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.ExtentReportManager"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="Listeners Tests">
        <classes>
            <class name="listeners.testListeners">
                <methods>
                    <include name="login"/>
                    <include name="currURL"/>
                    <include name="titleOfPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>